@import "./style.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    .inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 0 auto;
      .logo {
        height: 80px;
        img {
          width: 100%;
        }
      }
      h1 {
        @include heading3();
        line-height: 1.3;
      }
      p {
        @include body-medium();
        text-align: center;
      }
      .img {
        height: 135px;
        img {
          width: 100%;
        }
      }
      .btn {
        width: 100%;
        height: 60px;
        padding: 0 auto;
        padding-top: 10px;
        background: map-get($color, main-gradient);
        border-radius: 10px;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .container {
      .inner {
        width: 100%;
        .log {
          img {
            width: 100%;
          }
        }
        .img {
          img {
            width: 100%;
          }
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  body {
    .container {
      .inner {
        width: 100%;
        .log {
          img {
            width: 100%;
          }
        }
        .img {
          img {
            width: 100%;
          }
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}
