* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .logo {
    width: 370px;
    height: 80px;
    margin: 0 auto;
  }
  .login-box {
    width: 600px;
    height: 360px;
    margin: 0 auto;
    border: 1px solid #00f;
    .login-form {
      display: flex;
      flex-direction: column;
      padding: 30px;
      input[type="text"] {
        width: 500px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 13px;

        &::placeholder {
          font-size: 16px;
          text-align: center;
        }
      }
      input[type="password"] {
        width: 500px;
        height: 60px;
        margin: 1px auto;
        border-radius: 13px;
        &::placeholder {
          font-size: 16px;
          text-align: center;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.3;
        color: cadetblue;
        text-align: center;
        padding-top: 20px;
      }
    }
  }
}
