@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@1,700&display=swap");
// font family
$fonts: (
  noto-sans: "Noto Sans KR, sans-serif",
);
// font style mixins
@mixin display1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3rem;
}
@mixin display2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3rem;
}
@mixin heading1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3rem;
}
@mixin heading2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3rem;
}
@mixin heading3 {
  font-family: map-get($fonts, noto-sans);
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3rem;
}
@mixin heading4 {
  font-family: map-get($fonts, noto-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3rem;
}
@mixin heading5 {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3rem;
}
@mixin lead-paragraph {
  font-family: map-get($fonts, noto-sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3rem;
}
@mixin body-medium {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3rem;
}
@mixin body-normal {
  font-family: map-get($fonts, noto-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
}
@mixin body-small {
  font-family: map-get($fonts, noto-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
}
// color
$color: (
  main-color: #ff611d,
  main-gradient: linear-gradient(to right, #f7971d 0%, #ff611d 100%),
  point-color: #e43225,
  logo-color: #f7971d,
  enable-color: #fd384f,
  disabled-color: #ffc6cd,
  dark1: #191919,
  dark2: #333333,
  dark3: #7b7b7b,
  light1: #afafaf,
  light2: #dddddd,
  light3: #f5f5f5,
);

// mix - in 사용법 !!!!
// h1 {
//   @include body-medium();
//   color: map-get($color, main-color);
// }
