@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@1,700&display=swap");
header {
  background-color: #191919;
  color: #fff;
}
header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px;
}
header .header-top .header-logo {
  margin: 10px;
  cursor: pointer;
}
header .header-top .header-logo img {
  height: 40px;
}
header .header-top .header-search {
  width: 800px;
  height: 36px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 4px 14px;
  justify-content: space-between;
  border-radius: 40px;
}
header .header-top .header-search .real-time-search {
  width: 160px;
  border-right: 1px solid #7b7b7b;
  color: #7b7b7b;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
  cursor: pointer;
}
header .header-top .header-search input {
  width: 90%;
  padding: 5px;
  border: none;
  border-radius: 4px;
}
header .header-top .header-search input:focus {
  outline: none;
}
header .header-top .header-search .camera {
  width: 40px;
  height: 30px;
  border: none;
  background: inherit;
  cursor: pointer;
}
header .header-top .header-search .search {
  width: 56px;
  height: 32px;
  padding: 4px 16px;
  border: none;
  border-radius: 20px;
  background-color: #191919;
  margin-left: 5px;
  cursor: pointer;
}
header .header-icons {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
header .header-icons .login,
header .header-icons .cart {
  width: 60px;
  text-align: center;
  cursor: pointer;
}
header .header-icons .language {
  display: flex;
  text-align: left;
  cursor: pointer;
}
header .header-nav {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
  background-color: #191919;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 100px;
  line-height: 50px;
}
header .header-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
header .header-nav ul #sub_nav {
  position: relative;
}
header .header-nav ul #sub_nav .menu_hamburger {
  width: 170px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  color: #111;
  font-weight: bold;
}
header .header-nav ul #sub_nav .menu_hamburger i {
  padding-top: 10px;
}
header .header-nav ul #sub_nav .menu_hamburger li {
  display: block;
  color: #191919;
  background: #fff;
  z-index: 1;
}
header .header-nav ul #sub_nav .sub_nav_con {
  width: 190px;
  height: 398px;
  justify-content: start;
  align-items: start;
  bottom: -408px;
  left: 0;
  position: absolute;
  background: #dddddd;
  border: 1px solid red;
}
header .header-nav ul #sub_nav .sub_nav_con li {
  border: 1px solid red;
}
header .header-nav ul li {
  cursor: pointer;
}

.web_footer {
  display: none;
  background-color: #191919;
  color: #fff;
  padding: 20px;
}
.web_footer .footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.web_footer .footer-top .footer-services {
  display: flex;
  gap: 50px;
}
.web_footer .footer-top .footer-services .footer-select p {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
}
.web_footer .footer-top .footer-services .footer-select select {
  width: 150px;
  color: #fff;
  background-color: #191919;
  margin-right: 40px;
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 2px;
}
.web_footer .footer-top .footer-dropdown button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}
.web_footer .footer-categories {
  text-align: center;
  margin: 20px 0;
}
.web_footer #payment p {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
}
.web_footer #payment .payment-wrap {
  width: 600px;
  overflow: hidden;
}
.web_footer #payment .payment-wrap .footer-payment {
  position: relative;
  height: 96px;
  display: flex;
  align-items: center;
  animation: marquee 18s linear infinite;
}
.web_footer #payment .payment-wrap .footer-payment img {
  margin: 0 4px;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.web_footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding: 10px 0;
}
.web_footer .footer-bottom .footer-links a,
.web_footer .footer-bottom .footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
}
.web_footer .footer-bottom .footer-social {
  display: flex;
  align-items: center;
}

.mobile_footer {
  display: none;
}

@media (max-width: 1160px) {
  header .header-top {
    padding: 10px 10px;
  }
  header .header-top .header-logo {
    scale: 80%;
  }
  header .header-nav {
    width: 100%;
    padding: 0 10px;
  }
  header .header-nav #main_nav li #sub_nav {
    width: 30px;
  }
  header .header-nav #main_nav li #sub_nav .menu_hamburger span {
    display: none;
  }
  header .header-nav ul {
    flex-direction: row;
    align-items: center;
  }
  .web_footer .footer-top .footer-services {
    flex-direction: column;
    text-align: center;
  }
  .web_footer .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
  .web_footer .footer-bottom .footer-links,
  .web_footer .footer-bottom .footer-social {
    margin: 10px 0;
  }
}
@media (max-width: 430px) {
  header {
    position: fixed;
    width: 100%;
  }
  header .header-top {
    display: block;
  }
  header .header-top .header-logo {
    float: left;
  }
  header .header-top .header-search {
    width: calc(100% - 10px);
  }
  header .header-top .header-search .real-time-search {
    width: 250px;
    border: none;
  }
  header .header-top .header-icons {
    position: absolute;
    width: 188px;
    top: 10px;
    right: 0;
  }
  header .header-top .header-icons .login p,
  header .header-top .header-icons .cart p {
    display: none;
  }
  header .header-nav {
    background: #fff;
  }
  header .header-nav #main_nav {
    width: 100%;
    padding: 0;
    color: #191919;
    overflow-x: auto;
    white-space: nowrap;
  }
  header .header-nav #main_nav li {
    display: inline-block;
    margin-right: 10px;
  }
  header .header-nav #main_nav li.active {
    color: #ff611d;
    font-weight: bold;
    border-bottom: 3px solid #ff611d;
  }
  header .header-nav #main_nav #sub_nav {
    display: none;
  }
  .web_footer {
    display: none;
  }
  .mobile_footer {
    display: block;
    width: 100%;
    height: 70px;
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 12;
    padding: 0 20px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
  }
  .mobile_footer ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .mobile_footer ul li {
    line-height: 60px;
  }
}