@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body header #cartHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #7b7b7b;
}
body header #cartHeader .gnbWrapper {
  display: flex;
  width: 1170px;
  align-items: center;
  justify-content: space-between;
}
body header #cartHeader .gnbWrapper .leftGnb {
  display: flex;
  align-items: center;
}
body header #cartHeader .gnbWrapper .leftGnb i {
  display: none;
  font-size: 24px;
  padding: 6px;
}
body header #cartHeader .gnbWrapper .leftGnb h1 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}
body header #cartHeader .gnbWrapper .leftGnb img {
  height: 36px;
  filter: invert(1);
}
body header #cartHeader .gnbWrapper .rightGnb {
  display: flex;
}
body header #cartHeader .gnbWrapper .rightGnb ul {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
body header #cartHeader .gnbWrapper .rightGnb ul li {
  color: #7b7b7b;
}
body header #cartHeader .gnbWrapper .rightGnb ul li.active {
  color: #000;
}
body header #cartSortMob {
  display: none;
}
body #cartSortDesk {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid;
  z-index: 2;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
body #cartSortDesk ul {
  width: 1170px;
  display: flex;
  gap: 10px;
  padding: 20px 0;
}
body #cartSortDesk ul li {
  align-items: center;
  display: flex;
  padding: 0 30px;
  gap: 20px;
}
body #cartSortDesk ul li span {
  background: #dddddd;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
body #cartSortDesk ul li.active {
  color: #ff611d;
}
body #cartSortDesk ul .barRight {
  border-right: 1px solid #dddddd;
}
body main {
  display: flex;
  justify-content: center;
  gap: 30px;
}
body main .content {
  display: flex;
  flex-direction: column;
  width: 770px;
}
body main .content #selectNCoup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
body main .content #selectNCoup #selectProd {
  display: flex;
  gap: 10px;
}
body main .content #selectNCoup #selectProd #selectAll input[type=checkbox] {
  display: none;
}
body main .content #selectNCoup #selectProd #selectAll input[type=checkbox]:checked ~ .fa-circle-check {
  color: #ff611d;
  text-shadow: 0 0 2px #ff611d;
}
body main .content #selectNCoup #selectProd #selectAll .fa-circle-check {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
body main .content #selectNCoup #selectProd #selectDel {
  padding-left: 10px;
  border-left: 1px solid #000;
}
body main .content #selectNCoup #coupon {
  display: flex;
  gap: 5px;
}
body main .content #selectNCoup #coupon .coupInfo {
  display: flex;
  gap: 0;
}
body main .content #selectNCoup #coupon .coupLink {
  cursor: pointer;
}
body main .content #stores {
  display: flex;
  flex-direction: column;
  gap: 66px;
}
body main .content #stores .storeBlock {
  display: flex;
  flex-direction: column;
}
body main .content #stores .storeBlock .localStore,
body main .content #stores .storeBlock .foreignStore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid;
  border-style: solid none;
}
body main .content #stores .storeBlock .localStore.foreignStore,
body main .content #stores .storeBlock .foreignStore.foreignStore {
  color: #ff611d;
  border-color: #ff611d;
}
body main .content #stores .storeBlock .storeL {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
body main .content #stores .storeBlock .storeL span {
  text-align: center;
  align-items: center;
}
body main .content #stores .storeBlock .storeL span .storeLinkTitle {
  display: inline-block;
  max-width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .content #stores .storeBlock .storeL input[type=checkbox] {
  display: none;
}
body main .content #stores .storeBlock .storeL input[type=checkbox].storeCheck:checked ~ label {
  color: #ff611d;
  text-shadow: none;
}
body main .content #stores .storeBlock .storeL input[type=checkbox].storeHeart:checked ~ label {
  color: #fd384f;
  text-shadow: none;
}
body main .content #stores .storeBlock .storeL label {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
body main .content #stores .storeBlock .storeR input[type=button] {
  background: #ff611d;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
body main .content #stores .storeBlock .storeR span {
  display: none;
}
body main .content #stores .storeBlock .storeR span .storeHeart:checked ~ label {
  color: #fd384f;
  text-shadow: none;
}
body main .content #stores .storeBlock .storeR span label {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
body main .content #stores .storeBlock .prodList .prodBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL {
  display: flex;
  align-items: start;
  gap: 15px;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodCheck {
  display: none;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodCheck:checked ~ label {
  color: #ff611d;
  text-shadow: none;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL label {
  color: #fff;
  transform: scale(1.5);
  text-shadow: 0 0 2px #000;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodImg {
  width: 120px;
  height: 120px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  transition: all 0.3s;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL {
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 15px;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .prodTitle {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .prodTitle:hover {
  text-decoration: underline;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .prodOpt {
  display: none;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #7b7b7b;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .prodOpt opt {
  color: #333333;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .prodOpt.active {
  display: block;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodQuant {
  display: flex;
  justify-content: space-between;
  height: 31px;
  border: 1px solid #000;
  border-radius: 5px;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodQuant input[type=number] {
  text-align: center;
  width: 32px;
  border: none;
  outline: none;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodQuant input[type=number]::-webkit-inner-spin-button, body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodQuant input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodQuant input[type=button] {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  border: none;
  background: none;
  color: #ff611d;
  cursor: pointer;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodHeart {
  display: none;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn .prodHeart:checked ~ label {
  color: #fd384f;
  text-shadow: none;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .ProdInfoLBtn label {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockL .prodInfoL .tab {
  display: none;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 20px;
  text-align: right;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRdesc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRdesc h2 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRdesc h4 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #ff611d;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRdesc h4 s {
  color: #333333;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRdesc h4 span {
  color: #7b7b7b;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRdesc h4.hidden {
  opacity: 0;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRBtn {
  display: flex;
  gap: 20px;
}
body main .content #stores .storeBlock .prodList .prodBlock .prodBlockR .prodInfoRBtn input[type=button] {
  background: transparent;
  padding: 5px 10px;
  border: 1px solid #ff611d;
  border-radius: 5px;
  color: #ff611d;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}
body main .content #stores .storeBlock .prodList .prodBlockMob {
  display: none;
}
body main .content #stores .storeBlock .storeCalc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 25px 20px;
  border: 1px solid #afafaf;
  border-style: solid none;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
body main .content #stores .storeBlock .storeCalc > i {
  font-size: 20px;
  color: transparent;
  -webkit-text-stroke: 2.4px #000;
}
body main .content #stores .storeBlock .storeCalc > i:nth-of-type(3) {
  transform: rotateZ(90deg);
}
body main .content #stores .storeBlock .storeCalc div {
  display: flex;
  flex-direction: column;
}
body main .content #stores .storeBlock .storeCalc div span.active {
  color: #e43225;
}
body main .content #stores .storeBlock .storeCalc div i {
  margin: 5px;
  font-size: 10px;
}
body main .content #stores .storeBlock .storeCalc .storePrice h1 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}
body main .content #stores .storeBlock .storeCalcMob {
  display: none;
}
body main #stickyDesk {
  display: flex;
  position: sticky;
  flex-direction: column;
  width: 370px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
  gap: 30px;
  top: 105px;
  left: 0;
}
body main #stickyDesk #payInfo {
  border: 1px solid #000;
  border-radius: 5px;
}
body main #stickyDesk #payInfo .payInfoUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-width: 316px;
}
body main #stickyDesk #payInfo .payInfoUp h2 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
body main #stickyDesk #payInfo .payInfoUp h4 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #afafaf;
}
body main #stickyDesk #payInfo .payInfoMid {
  display: flex;
  padding: 20px 20px;
  border: 1px #afafaf;
  border-style: solid none;
}
body main #stickyDesk #payInfo .payInfoMid ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
body main #stickyDesk #payInfo .payInfoMid ul li {
  display: flex;
  justify-content: space-between;
}
body main #stickyDesk #payInfo .payInfoMid ul li .active {
  color: #e43225;
}
body main #stickyDesk #payInfo .payInfoDown {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 24px;
}
body main #stickyDesk #payInfo .payInfoDown div {
  display: flex;
  justify-content: space-between;
}
body main #stickyDesk #payInfo .payInfoDown div h2 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
body main #stickyDesk #payInfo .payInfoDown div h3 {
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
body main #stickyDesk #payInfo .payInfoDown input[type=button] {
  background: linear-gradient(to right, #f7971d 0%, #ff611d 100%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "Noto Sans KR, sans-serif";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
}
body main #stickyDesk .bannerEvt {
  width: 100%;
  height: 115px;
  background: url("./img/eventBanner.png") center/cover no-repeat;
}
body footer #tabCartFooter {
  display: none;
}
body section {
  display: none;
}

@media (max-width: 993px) {
  body main {
    justify-content: start;
  }
}
@media (max-width: 800px) {
  body {
    position: relative;
    min-height: 100vh;
  }
  body header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  body header #cartHeader {
    padding: 15px 24px;
  }
  body header #cartHeader .gnbWrapper {
    width: 100%;
  }
  body header #cartHeader .gnbWrapper .leftGnb i {
    display: block;
  }
  body header #cartHeader .gnbWrapper .rightGnb {
    display: none;
  }
  body header #cartSortMob {
    display: flex;
    top: 0;
    width: 100%;
    min-width: 617px;
    font-size: 26px;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid;
    z-index: 2;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  body header #cartSortMob ul {
    width: 100%;
    display: flex;
    padding: 15px 0;
    gap: 0;
    justify-content: center;
  }
  body header #cartSortMob ul li {
    align-items: center;
    display: flex;
    padding: 0 30px;
    gap: 20px;
  }
  body header #cartSortMob ul li span {
    background: #dddddd;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  body header #cartSortMob ul li.active {
    color: #ff611d;
  }
  body header #cartSortMob ul .barRight {
    border-right: 1px solid #dddddd;
  }
  body #cartSortDesk {
    display: none;
  }
  body main {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 670px;
  }
  body main .content {
    width: 100%;
    justify-content: center;
    padding: 0 24px;
  }
  body main .content #selectNCoup {
    padding: 20px 15px;
  }
  body main .content #stores .storeBlock .storeCalc .storePrice h1 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  body main .content .tab {
    margin: 48px 0 120px;
    display: flex;
    width: 100%;
    height: 115px;
    background: url("./img/eventBanner.png") center/cover no-repeat;
  }
  body main #stickyDesk {
    display: none;
  }
  body footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  body footer #tabCartFooter {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    background: #fff;
    border: 1px #333333;
    border-style: solid none;
  }
  body footer #tabCartFooter div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
  }
  body footer #tabCartFooter div span.active {
    color: #e43225;
  }
  body footer #tabCartFooter input[type=submit] {
    background: linear-gradient(to right, #f7971d 0%, #ff611d 100%);
    padding: 10px 0;
    flex: 2.5;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  body footer #mobCartFooter {
    display: none;
  }
  body section {
    display: flex;
    width: 100%;
  }
  body section #payInfoTab {
    background: #fff;
    border: 1px #000;
    border-style: solid none;
    width: 100%;
    z-index: 2;
  }
  body section #payInfoTab .payInfoUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-width: 316px;
  }
  body section #payInfoTab .payInfoUp h2 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  body section #payInfoTab .payInfoUp h4 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: #afafaf;
  }
  body section #payInfoTab .payInfoMid {
    display: flex;
    padding: 20px 20px;
    border: 1px #afafaf;
    border-style: solid none;
  }
  body section #payInfoTab .payInfoMid ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  body section #payInfoTab .payInfoMid ul li {
    display: flex;
    justify-content: space-between;
  }
  body section #payInfoTab .payInfoMid ul li .active {
    color: #e43225;
  }
  body section #payInfoTab .payInfoDown {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 24px;
  }
  body section #payInfoTab .payInfoDown div {
    display: flex;
    justify-content: space-between;
  }
  body section #payInfoTab .payInfoDown div h2 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  body section #payInfoTab .payInfoDown div h3 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  body section #payInfoTab .payInfoDown input[type=button] {
    background: #ff611d;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
  }
}
@media (max-width: 686px) {
  body header #cartHeader {
    padding: 10px 20px;
  }
  body header #cartHeader .gnbWrapper {
    width: 100%;
  }
  body header #cartHeader .gnbWrapper .leftGnb i {
    font-size: 16px;
  }
  body header #cartHeader .gnbWrapper .leftGnb h1 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  body header #cartHeader .gnbWrapper .leftGnb img {
    height: 20px;
  }
  body header #cartSortMob {
    min-width: 0;
  }
  body header #cartSortMob ul {
    width: 100%;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }
  body header #cartSortMob ul li {
    padding: 0 25px;
    gap: 8px;
  }
  body header #cartSortMob ul li span {
    width: 20px;
    height: 20px;
    padding-top: 0;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  body main {
    justify-content: center;
    flex-direction: column;
    min-width: 0;
  }
  body main .content {
    width: 100%;
    justify-content: center;
    padding: 0 15px;
  }
  body main .content #selectNCoup {
    padding: 15px 0;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  body main .content #selectNCoup #selectProd {
    gap: 4px;
  }
  body main .content #selectNCoup #selectProd #selectDel {
    padding-left: 5px;
  }
  body main .content #selectNCoup #coupon {
    gap: 2px;
  }
  body main .content #selectNCoup #coupon .coupInfo .cartCoup {
    display: none;
  }
  body main .content #stores .storeBlock .localStore,
  body main .content #stores .storeBlock .foreignStore {
    padding: 10px;
    align-items: center;
  }
  body main .content #stores .storeBlock .storeL {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .storeL .storeHeart,
  body main .content #stores .storeBlock .storeL .storeHeartLb {
    display: none;
  }
  body main .content #stores .storeBlock .storeL span img {
    height: 18px;
    width: 18px;
  }
  body main .content #stores .storeBlock .storeR input {
    display: none;
  }
  body main .content #stores .storeBlock .storeR span {
    display: block;
  }
  body main .content #stores .storeBlock .storeR span input:checked ~ label {
    color: #ff611d;
    text-shadow: none;
  }
  body main .content #stores .storeBlock .storeR span label {
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
  body main .content #stores .storeBlock .prodList .prodBlock {
    display: none;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
    border-bottom: 1px solid #afafaf;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodBlockMobClose {
    width: 100%;
    justify-content: end;
    text-align: right;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo {
    display: flex;
    justify-content: space-between;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobL {
    display: flex;
    align-items: start;
    gap: 5px;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobL input {
    display: none;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobL input:checked ~ label {
    color: #ff611d;
    text-shadow: none;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobL label {
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobL .prodImg {
    display: flex;
    width: 85px;
    height: 85px;
    background: url("./img/jaket.png");
    border-radius: 5px;
    justify-content: end;
    align-items: end;
    padding: 5px;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobL .prodImg .prodHeartMob:checked ~ label {
    color: #fd384f;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR {
    text-align: right;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: -moz-fit-content;
    width: fit-content;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h2 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h3 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h4 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #ff611d;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h4 s {
    color: #333333;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h4 span {
    color: #7b7b7b;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h4.hidden {
    display: none;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc h5 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc .prodTitle {
    max-width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc .prodOpt {
    display: none;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #7b7b7b;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc .prodOpt opt {
    color: #333333;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc .prodOpt.active {
    display: block;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn .prodQuant {
    display: flex;
    justify-content: space-between;
    width: 86px;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn .prodQuant input[type=number] {
    text-align: center;
    width: 28px;
    border: none;
    outline: none;
    background: none;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn .prodQuant input[type=number]::-webkit-inner-spin-button, body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn .prodQuant input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn .prodQuant input[type=button] {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    padding: 4px;
    border: none;
    background: none;
    color: #ff611d;
    cursor: pointer;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn input[type=button] {
    background: transparent;
    padding: 5px 10px;
    border: 1px solid #ff611d;
    border-radius: 5px;
    color: #ff611d;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .storeCalc {
    display: none;
  }
  body main .content #stores .storeBlock .storeCalc .storePrice h1 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .storeCalcMob {
    display: flex;
    flex-direction: column;
  }
  body main .content #stores .storeBlock .storeCalcMob .accordion {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    gap: 5px;
    background: #f5f5f5;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
  }
  body main .content #stores .storeBlock .storeCalcMob .accordion div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body main .content #stores .storeBlock .storeCalcMob .accordion div .active {
    color: #e43225;
  }
  body main .content #stores .storeBlock .storeCalcMob .storePay {
    display: flex;
    flex-direction: column;
    border: 1px #afafaf;
    border-style: solid none;
    padding: 10px 20px 15px 20px;
    gap: 5px;
  }
  body main .content #stores .storeBlock .storeCalcMob .storePay .totalPrice {
    display: flex;
    justify-content: space-between;
  }
  body main .content #stores .storeBlock .storeCalcMob .storePay .totalPrice i.active {
    transform: rotate(180deg);
  }
  body main .content #stores .storeBlock .storeCalcMob .storePay input[type=submit] {
    background: #ff611d;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }
  body main .content .tab {
    margin: 48px 0;
    display: flex;
    width: 100%;
    height: 115px;
    background: url("./img/eventBanner.png") center/cover no-repeat;
  }
  body main #stickyDesk {
    display: none;
  }
  body section {
    display: none;
  }
}
@media (max-width: 500px) {
  body header #cartSortMob ul li {
    padding: 0 15px;
  }
  body main .content #stores .storeBlock .storeL span .storeLinkTitle {
    max-width: 190px;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo {
    gap: 15px;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodBlockMobInfo .prodBlockMobR .prodInfoRdesc .prodTitle {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  body main .content #stores .storeBlock .prodList .prodBlockMob .prodInfoWrapper .prodInfoBtn {
    justify-content: center;
  }
  body footer {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  body footer #tabCartFooter {
    display: none;
  }
  body footer #mobCartFooter {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  body footer #mobCartFooter .payDetail {
    padding: 10px;
    text-align: center;
  }
  body footer #mobCartFooter .payDetail ul li {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body footer #mobCartFooter .payDetail ul li .active {
    color: #e43225;
  }
  body footer #mobCartFooter #payInfoMob {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    background: linear-gradient(to right, #f7971d 0%, #ff611d 100%);
    color: #fff;
    padding: 10px;
    gap: 10px;
  }
  body footer #mobCartFooter #payInfoMob button {
    color: #fff;
    background: transparent;
    padding: 5px 15px;
    border: none;
    font-family: "Noto Sans KR, sans-serif";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  body footer #mobCartFooter #payInfoMob button.inactive {
    opacity: 0;
  }
  body footer #mobCartFooter #payInfoMob h2 {
    font-family: "Noto Sans KR, sans-serif";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
}