@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@1,700&display=swap");
// font family
$fonts: (
  noto-sans: "Noto Sans KR, sans-serif",
);
// font style mixins
@mixin display1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3;
}
@mixin display2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3;
}
@mixin heading1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
}
@mixin heading2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}
@mixin heading3 {
  font-family: map-get($fonts, noto-sans);
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}
@mixin heading4 {
  font-family: map-get($fonts, noto-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}
@mixin heading5 {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}
@mixin lead-paragraph {
  font-family: map-get($fonts, noto-sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}
@mixin body-medium {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}
@mixin body-normal {
  font-family: map-get($fonts, noto-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
@mixin body-small {
  font-family: map-get($fonts, noto-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

// color
$color: (
  main-color: #ff611d,
  main-gradient: linear-gradient(to right, #f7971d 0%, #ff611d 100%),
  point-color: #e43225,
  logo-color: #f7971d,
  enable-color: #fd384f,
  disabled-color: #ffc6cd,
  dark1: #191919,
  dark2: #333333,
  dark3: #7b7b7b,
  light1: #afafaf,
  light2: #dddddd,
  light3: #f5f5f5,
);

.contentPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 10px;
  @include body-small();
  del {
    color: map-get($color, light1);
  }
  span {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 3px;
    strong {
      padding: 2px 3px 0;
      text-align: center;
      border-radius: 4px;
      background: map-get($color, main-color);
      color: map-get($color, light3);
    }
    p:nth-child(1) {
      color: map-get($color, dark1);
      padding: 2px 0;
    }
    p:nth-child(2) {
      color: map-get($color, dark3);
      padding: 2px 0;
    }
  }
}

.contentTitle {
  padding: 10px 10px 0;
  h3 {
    @include heading5();
  }
  p {
    @include body-medium();
  }
}

.slider-container {
  width: 200px;
  margin: 20px auto;

  .slider-contaoner-contents {
    .slider-label {
      @include body-small();
      font-weight: bold;
    }

    .slider {
      -webkit-appearance: none; // 기본 브라우저 스타일 제거
      width: 100%;
      height: 8px;
      border-radius: 5px;
      background: #ddd;
      outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none; // 기본 브라우저 스타일 제거
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: map-get($color, main-color);
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #6e44ff; // 이미지의 보라색
        cursor: pointer;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); // 그림자 효과
      }
    }

    .price-range {
      @include body-small();
    }

    .radio-group {
      .label {
        @include body-small();
        font-weight: bold;
      }

      label {
        input[type="radio"] {
          @include body-small();
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid map-get($color, main-color);
          border-radius: 50%;
          position: relative;
          margin-right: 8px;
          cursor: pointer;
          &:checked {
            background-color: map-get($color, main-color); // 선택 시 배경색
            border-color: map-get($color, main-color);
            &::before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white; // 선택 시 내부 동그라미 색상
              position: absolute;
              top: 3px;
              left: 3px;
            }
          }
        }
      }
    }

    .checkbox-group {
      .label {
        @include body-small();
        font-weight: bold;
      }

      label {
        // 각각의 체크박스 스타일
        input[type="radio"] {
          @include body-small();
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid map-get($color, main-color);
          border-radius: 50%;
          position: relative;
          margin-right: 8px;
          cursor: pointer;
          &:checked {
            background-color: map-get($color, main-color); // 선택 시 배경색
            border-color: map-get($color, main-color);
            &::before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white; // 선택 시 내부 동그라미 색상
              position: absolute;
              top: 3px;
              left: 3px;
            }
          }
        }
      }
    }
  }
}

.price-range {
  margin-top: 10px;
  font-size: 14px;
}

.radio-group,
.checkbox-group {
  margin-top: 20px;
  .label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    input {
      margin-right: 5px;
    }
  }
}

// Flexbox container 설정
.product-detail-list-box {
  display: flex;
  height: 100vh;
}

.product-list {
  width: calc(100% - 300px);
}

.productContents {
  .productTop {
    width: 100%;
    .titleRight {
      // position: fixed;
      width: 100%;
      height: 70px;
      // top: 20px;
      background: #fff;
      z-index: 3;

      a {
        position: absolute;
        top: 0;
        right: 0;
        @include body-medium();
        color: map-get($color, light1);
      }

      .titleBtn {
        display: flex;
        margin-top: 20px;
        gap: 40px;

        input[type="radio"] {
          display: none;
        }

        .btn {
          display: inline-block;
          text-align: center;
          line-height: 30px;
          width: 150px;
          height: 30px;
          background: map-get($color, light2);
          border-radius: 50px;
          cursor: pointer;

          &.active {
            background: map-get($color, main-gradient);
            color: #fff;
          }
        }
      }
    }
  }

  .productcontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .ulElements {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 40px;

      li {
        width: 300px;
        .contentImg {
          width: 100%;
          height: 210px;
          overflow: hidden; // 부모 컨테이너를 벗어나는 이미지 부분을 숨김
          img {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            object-fit: cover;
            transition: transform 0.3s;
          }
        }

        &:hover img {
          transform: scale(1.1); // 이미지 확대 효과
        }

        .foryouTitle {
          margin-top: 4px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
.categoryContents {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-55%);
}
.categoryGnb.Tablet {
  display: none;
  width: 100%;
  background: #fff;
  display: flex;
  // border: 1px solid #f00;
  flex-direction: column;
  position: sticky;
  top: -167px;
  left: 0;
  height: fit-content;
  transition: all 0.3s;
  z-index: 4;
  padding-right: 40px;
  white-space: nowrap; /* 가로 스크롤을 위한 설정 */
  overflow-x: hidden; /* 가로 스크롤 가능하게 설정 */
  ul {
    display: flex;
    gap: 30px;
    justify-content: left;
    padding: 20px 0 20px 10px;
    li {
      a {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;
        img {
          width: 90px;
          height: 90px;
          border: 1px solid map-get($color, light1);
          border-radius: 50%;
        }
        &.active p {
          opacity: 1;
          color: map-get($color, light3);
          font-weight: bold;
          padding: 4px 7px;
          border-radius: 12px;
          background: map-get($color, main-color);
        }
      }
    }
  }
}
// tab
@media screen and (max-width: 1100px) {
  .product-detail-list-box {
    .slider-container {
      display: none;
    }
    .product-list {
      width: 100%;
      .categoryGnb.Tablet {
        display: none;
        width: 100%;
      }
      .productContents {
        .productTop {
          width: 100%;
          .titleRight {
            .titleBtn {
              gap: 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .product-detail-list-box {
    .slider-container {
      display: none;
    }
    .product-list {
      width: 100%;
      .productcontent {
        .ulElements {
          justify-content: space-around;
          li {
            width: 180px;
            .contentImg {
              width: 100%;
              height: 120px;
            }
          }
        }
      }
    }
  }
}
