@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@1,700&display=swap");

$fonts: (
  noto-sans: "Noto Sans KR, sans-serif",
);

$color: (
  main-color: #ff611d,
  main-gradient: linear-gradient(to right, #f7971d 0%, #ff611d 100%),
  point-color: #e43225,
  logo-color: #f7971d,
  enable-color: #fd384f,
  disabled-color: #ffc6cd,
  dark1: #191919,
  dark2: #333333,
  dark3: #7b7b7b,
  light1: #afafaf,
  light2: #dddddd,
  light3: #f5f5f5,
);

@mixin display1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3rem;
}

@mixin display2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3rem;
}

@mixin heading1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3rem;
}

@mixin heading2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3rem;
}

@mixin heading3 {
  font-family: map-get($fonts, noto-sans);
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3rem;
}

@mixin heading4 {
  font-family: map-get($fonts, noto-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3rem;
}

@mixin heading5 {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3rem;
}

@mixin lead-paragraph {
  font-family: map-get($fonts, noto-sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3rem;
}

@mixin body-medium {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3rem;
}

@mixin body-normal {
  font-family: map-get($fonts, noto-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
}

@mixin body-small {
  font-family: map-get($fonts, noto-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
}

main {
  width: 1020px;
  margin: 0 auto;

  .product-detail {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .product-images {
      display: flex;
      flex-direction: row;

      .main-image {
        width: 500px;
      }

      .thumbnail-images {
        display: flex;
        flex-direction: column;

        img {
          width: 70px;
          height: 70px;
          margin: 10px 5px;
          cursor: pointer;
        }
      }
    }

    .product-info {
      flex: 1;
      min-width: 300px;
      padding: 20px;

      h1 {
        @include lead-paragraph();
        color: map-get($color, dark2);
        font-weight: bold;
      }

      .price {
        @include heading4();
        color: map-get($color, point-color);
        margin: 10px 0;
      }

      .description {
        @include body-small();
        font-weight: 600;
        color: map-get($color, dark3);
      }

      .star {
        color: map-get($color, light2);

        i {
          &.active {
            color: map-get($color, main-color);
          }
        }
      }

      .quantity-container {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #f8f8f8;
        border-radius: 5px;
        width: 300px;
      }

      .quantity-label {
        flex: 1;
        font-size: 14px;
        color: #333;
      }

      .quantity-input {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;

        input {
          width: 50px;
          text-align: center;
          border: none;
          font-size: 14px;
        }

        .quantity-button {
          width: 30px;
          height: 30px;
          border: none;
          background-color: #fff;
          font-size: 18px;
          cursor: pointer;
          outline: none;

          &.decrement {
            border-right: 1px solid #ddd;
          }

          &.increment {
            border-left: 1px solid #ddd;
          }
        }
      }

      .buy {
        display: flex;
        gap: 10px;

        .buy-now,
        .add-to-cart,
        .heart,
        .share {
          display: block;
          width: 50%;
          padding: 10px;
          margin: 10px 0;
          @include heading5();
          border: none;
          border-radius: 2px;
          background-color: map-get($color, main-color);
          color: #fff;
          text-align: center;
          cursor: pointer;

          &.add-to-cart {
            background-color: #fff;
            color: map-get($color, main-color);
            border: 1px solid map-get($color, main-color);
          }

          &.heart,
          &.share {
            width: 20%;
          }
        }
      }
    }
  }

  .product-details-tabs {
    margin: 0 auto;

    .tabs {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid #ddd;

      .tab {
        flex-grow: 1;
        padding: 10px;
        text-align: center;
        background: inherit;
        @include lead-paragraph();
        font-weight: bold;
        border: none;
        cursor: pointer;

        &.active {
          color: #ff611d;
          border-bottom: 2px solid #ff611d;
        }
      }
    }

    .tab-content {
      width: 1020px;
      // display: none;

      h2 {
        font-size: 18px;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        color: #333;
      }

      img {
        width: 100%;
        height: auto;
        margin: 20px 0;
      }
    }
  }

  .related-products {
    margin: 20px 0;

    h2 {
      font-size: 18px;
      margin: 10px 0;
    }

    .product-list {
      display: flex;
      overflow-x: auto;
      padding: 10px 0;

      .product {
        flex: 0 0 auto;
        width: 150px;
        margin-right: 10px;
        text-align: center;

        img {
          width: 100%;
          height: auto;
        }

        .product-name {
          font-size: 14px;
          margin: 5px 0;
        }

        .product-price {
          font-size: 12px;
          color: #ff611d;
        }
      }
    }
  }

  .review-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1 {
      @include heading5();
      color: map-get($color, dark1);
    }

    .summary {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 20px;

      div {
        text-align: center;
        flex: 1;

        h2 {
          font-size: 1.2em;
          color: #333;
        }
      }

      .rating-overall,
      .total-reviews,
      .rating-distribution {
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background: #ffd6a1;
        border-radius: 10px;

        .stars {
          color: map-get($color, light1);

          i {
            &.active {
              color: map-get($color, main-color);
            }
          }
        }

        .rating-score,
        .review-count {
          @include heading3();
          color: map-get($color, dark1);
        }
      }

      .rating-distribution {
        padding: 50px;

        .distribution-bar {
          display: flex;
          gap: 30px;

          .bar {
            height: 100px;
            background-color: #e0e0e0;
            margin-bottom: 5px;
            border-radius: 5px;
            position: relative;

            .bar-fill {
              width: 100%;
              position: absolute;
              bottom: 0;
              padding: 5px;
              border-radius: 0 0 5px 5px;
              background-color: map-get($color, logo-color);
              color: #fff;
              white-space: nowrap;
              text-align: left;
            }

            &:nth-child(1) .bar-fill {
              height: 80%;
            }

            &:nth-child(2) .bar-fill {
              height: 40%;
            }

            &:nth-child(3) .bar-fill {
              height: 10%;
            }

            &:nth-child(4) .bar-fill {
              height: 2%;
            }

            &:nth-child(5) .bar-fill {
              height: 0%;
            }

            p {
              position: absolute;
              margin-left: 2px;
              bottom: -20px;
              @include body-small();
              color: map-get($color, dark2);
              font-weight: bold;
            }
          }
        }
      }
    }

    .photo-reviews {
      margin-bottom: 20px;

      h3 {
        font-size: 1.5em;
        color: #333;
      }

      .photos {
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0;

        li {
          position: relative;

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          }

          &.more {
            &:hover {
              cursor: pointer;

              &::before {
                content: "+더보기";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
                z-index: 1;
                font-size: 16px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .text-reviews {
      .review-filter {
        display: flex;
        justify-content: space-between;

        h3 {
          font-size: 1.5em;
          color: #333;
        }

        .review-filter-list {
          display: flex;
          float: right;
          gap: 10px;

          li {
            cursor: pointer;
            color: map-get($color, dark3);

            &.active {
              font-weight: bold;
              color: map-get($color, main-color);
            }
          }
        }
      }

      .review {
        margin-bottom: 15px;
        padding: 10px;
        border-bottom: 1px solid #ddd;

        .rating {
          color: map-get($color, logo-color);
        }

        .reply {
          margin-top: 5px;
          color: #555;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      a {
        margin: 0 5px;
        text-decoration: none;
        color: map-get($color, dark2);

        &.select {
          font-weight: bold;
          color: map-get($color, main-color);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
    padding: 0 20px;

    .product-detail {
      flex-direction: column;

      .product-images {
        .main-image {
          width: 100%;
        }

        .thumbnail-images {
          flex-direction: row;
          justify-content: center;

          img {
            width: 50px;
            height: 50px;
            margin: 5px;
          }
        }
      }

      .product-info {
        width: 100%;
        padding: 0;

        h1 {
          @include heading3();
        }

        .price {
          @include heading4();
        }

        .quantity-container {
          width: 100%;
        }

        .buy {
          flex-direction: column;

          .buy-now,
          .add-to-cart,
          .heart,
          .share {
            width: 100%;
          }
        }
      }
    }

    .product-details-tabs {
      .tab-content {
        width: 100%;
      }
    }

    .related-products {
      .product-list {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 430px) {
  main {
    padding: 0 10px;

    .product-detail {
      .product-images {
        .main-image {
          width: 100%;
        }

        .thumbnail-images {
          img {
            width: 50px;
            height: 50px;
            margin: 5px;
          }
        }
      }

      .product-info {
        padding: 0;

        h1 {
          @include heading4();
        }

        .price {
          @include heading3();
        }

        .description {
          @include body-medium();
        }

        .quantity-container {
          width: 100%;
        }

        .buy {
          flex-direction: column;

          .buy-now,
          .add-to-cart,
          .heart,
          .share {
            width: 100%;
          }
        }
      }
    }

    .product-details-tabs {
      .tab-content {
        width: 100%;
      }
    }

    .related-products {
      .product-list {
        justify-content: center;
      }
    }
  }
}
