@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@1,700&display=swap");

// font family
$fonts: (
  noto-sans: "Noto Sans KR, sans-serif",
);

// font style mixins
@mixin display1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3;
}

@mixin display2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3;
}

@mixin heading1 {
  font-family: map-get($fonts, noto-sans);
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
}

@mixin heading2 {
  font-family: map-get($fonts, noto-sans);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
}

@mixin heading3 {
  font-family: map-get($fonts, noto-sans);
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}

@mixin heading4 {
  font-family: map-get($fonts, noto-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
}

@mixin heading5 {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

@mixin lead-paragraph {
  font-family: map-get($fonts, noto-sans);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}

@mixin body-medium {
  font-family: map-get($fonts, noto-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

@mixin body-normal {
  font-family: map-get($fonts, noto-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

@mixin body-small {
  font-family: map-get($fonts, noto-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

body {
  font-family: "Noto Sans KR, sans-serif";
}

// color
$color: (
  main-color: #ff611d,
  main-gradient: linear-gradient(to right, #f7971d 0%, #ff611d 100%),
  point-color: #e43225,
  logo-color: #f7971d,
  enable-color: #fd384f,
  disabled-color: #ffc6cd,
  dark1: #191919,
  dark2: #333333,
  dark3: #7b7b7b,
  light1: #afafaf,
  light2: #dddddd,
  light3: #f5f5f5,
);

.contentPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 10px;
  @include body-small();
  del {
    color: map-get($color, light1);
  }
  span {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 3px;
    strong {
      padding: 2px 3px 0;
      text-align: center;
      border-radius: 4px;
      background: map-get($color, main-color);
      color: map-get($color, light3);
    }
    p:nth-child(1) {
      color: map-get($color, dark1);
      padding: 2px 0;
    }
    p:nth-child(2) {
      color: map-get($color, dark3);
      padding: 2px 0;
    }
  }
}

.contentTitle {
  padding: 10px 10px 0;
  h3 {
    @include heading5();
  }
  p {
    @include body-medium();
  }
}

.slider-container {
  width: 200px;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;

  .slider-contaoner-contents {
    position: sticky;
    top: 30px;
    .slider-label {
      @include body-small();
      font-weight: bold;
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 8px;
      border-radius: 5px;
      background: #ddd;
      outline: none;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: map-get($color, main-color);
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: map-get($color, main-color);
        cursor: pointer;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
      }
    }

    .price-range {
      @include body-small();
    }

    .radio-group {
      .label {
        @include body-small();
        font-weight: bold;
      }

      label {
        input[type="radio"] {
          @include body-small();
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid map-get($color, main-color);
          border-radius: 50%;
          position: relative;
          margin-right: 8px;
          cursor: pointer;
          &:checked {
            background-color: map-get($color, main-color);
            border-color: map-get($color, main-color);
            &::before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white;
              position: absolute;
              top: 3px;
              left: 3px;
            }
          }
        }
      }
    }

    .checkbox-group {
      .label {
        @include body-small();
        font-weight: bold;
      }

      label {
        input[type="radio"] {
          @include body-small();
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid map-get($color, main-color);
          border-radius: 50%;
          position: relative;
          margin-right: 8px;
          cursor: pointer;
          &:checked {
            background-color: map-get($color, main-color);
            border-color: map-get($color, main-color);
            &::before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: white;
              position: absolute;
              top: 3px;
              left: 3px;
            }
          }
        }
      }
    }
  }

  &.filter {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
}

.price-range {
  margin-top: 10px;
  font-size: 14px;
}

.radio-group,
.checkbox-group {
  margin-top: 20px;
  .label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    input {
      margin-right: 5px;
    }
  }
}

// Flexbox container 설정
.product-detail-list-box {
  display: flex;
  height: 100vh;
}

.product-list {
  width: calc(100% - 300px);
}

.productContents {
  position: relative;
  // width: 1300px;
  .productTop {
    .titleRight {
      // position: fixed;
      justify-content: flex-end;
      width: 100%;
      height: 70px;
      background: #fff;
      z-index: 3;

      // a {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   @include body-medium();
      //   color: map-get($color, light1);
      // }
      .titleBtnContainer {
        width: 100%;
        padding-left: 280px;
        .titleBtn {
          display: flex;
          width: 700px;
          margin-top: 30px;
          gap: 16px;

          // white-space: nowrap;
          // justify-content: flex-end;

          input[type="radio"] {
            display: none;
          }

          .btn {
            display: inline-block;
            text-align: center;
            line-height: 30px;
            width: 130px;
            height: 30px;
            background: map-get($color, light2);
            border-radius: 50px;
            cursor: pointer;
            &.active {
              background: map-get($color, main-gradient);
              color: #fff;
            }
          }
        }
      }

      .filterBtnContainer {
        display: none;
      }
    }
  }

  .productcontent {
    width: 1300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .ulElements {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 100px;

      li {
        width: 300px;
        margin-bottom: 50px;
        .contentImg {
          width: 100%;
          height: 210px;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            object-fit: cover;
            transition: transform 0.3s;
          }
        }

        &:hover img {
          transform: scale(1.1);
        }

        .foryouTitle {
          margin-top: 4px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

// tab
@media screen and (max-width: 1200px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
  }

  .product-detail-list-box {
    .slider-container {
      width: 300px;
      height: 100%;
      position: fixed;
      margin: 0;
      right: 0;
      background: #fff;
      box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.15);
      z-index: 1010;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
      .slider-contaoner-contents {
        padding-top: 50px;
        margin-left: 30px;
        width: 200px;
      }
      &.filter {
        transform: translateX(0);
      }
    }
    .product-list {
      overflow-x: hidden;
      width: 100%;
      .productContents {
        .productTop {
          position: relative;
          .titleRight {
            display: flex; /* 내부 요소를 플렉스로 설정하여 정렬 */
            justify-content: flex-end;
            align-items: center; /* 수직 중앙 정렬 */
            padding-right: 20px; /* 우측 여백 조정 */
            width: 100%; /* 부모 요소의 너비 채우기 */
            box-sizing: border-box; /* 여백과 패딩 포함 */
            .titleBtn {
              padding-right: 40px;
              display: flex;
              /* 플렉스 레이아웃 적용 */
              gap: 16px; /* 버튼 간의 간격 */
              margin-left: auto; /* 우측 정렬을 위한 자동 왼쪽 여백 */
              white-space: nowrap; /* 버튼이 한 줄로 유지되도록 설정 */
              .btn {
              }
            }
            .filterBtnContainer {
              position: absolute;
              width: 50px;
              height: 58%;
              border-radius: 0 !important;
              background: #fff;
              text-align: center;
              border-radius: 30px;
              display: block;
              position: absolute;
              right: 0;
              box-shadow: -5px 0 10px rgba(255, 255, 255, 0.8);
              top: 30px;
              .filterBtn {
                display: block;
                width: 50px;
                height: 32px;
                line-height: 32px;
                border-radius: 40px;
                cursor: pointer;
                background: map-get($color, light2);
              }
            }
          }
        }
      }
      .productcontent {
        .ulElements {
          width: 100vw;
          justify-content: center;
          gap: 20px;
          li {
            width: 200px;
            .contentImg {
              width: 100%;
              height: 150px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .titleRight {
    .titleBtnContainer {
      display: flex;
      margin-right: 100px;
      justify-content: center;
      .titleBtn {
        div {
          background: #fff;
          position: absolute;
          right: -60px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .titleRight {
    white-space: nowrap;
    .titleBtn {
      display: inline-flex;
      width: 100%;
      // gap: 10px;
      div {
        display: inline-block;
      }
    }
  }
  .ulElements {
    li {
      width: 180px !important;
      gap: 20px !important;
    }
  }
}
